.idea
.sql
.zip
.gz
.tar.gz
.Identifier
.DS_Store
wp-content/ai1wm-backups/
wp-content/uploads/
wp-content/cache/
wp-content/plugins/akismet/
wp-content/plugins/hello.php
wp-content/themes/twentytwentyfive/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentythree/
wp-includes/
wp-admin/
wp-content/debug.log
wp-config.php